{% extends 'base.html.twig' %}


{% block body %}
    <article class="container-fluid mb-4 p-5 mx-2">
        <div class="row">
            <h1 class="text-center mb-5">Qui suis-je?</h1>
            <p class="text-center">Psychologue clinicienne et psychothérapeute, je reçois des adultes, adolescents et
                enfants. Je propose un accompagnement individualisé, basé sur une écoute bienveillante et le respect de
                la confidentialité. Je propose des consultations en ligne pour celles et ceux qui rencontrent des
                difficultés d’accès (pour des raisons géographiques ou de mobilité) pour rencontrer un.e psychologue
                dans son cabinet.</p>
        </div>
    </article>

    <section class="d-flex flex-column justify-content-between flex-xxl-row">

        <article class="container-fluid mb-4 p-5 mx-2">
            <div class="row">
                <div class="col-10">
                    <h1 class="text-center mb-5">Formation</h1>
                    <p class="text-center">Titulaire d’un Master 2 « Psychologie clinique et psychopathologie » à
                        l’Université Toulouse-Le Mirail, je suis engagée dans un processus de formation continue pour
                        actualiser mes connaissances (conférences, supervision, articles,...). Je m’appuie sur
                        l’approche psychodynamique ainsi que sur la psychanalyse, tout en restant ouverte à des
                        approches complémentaires (corporelle, systémique, etc...)</p>
                </div>
            </div>
        </article>


        <article class="container-fluid mb-4 p-5 mx-2">
            <div class="row">
                <div class="col-10">
                    <h1 class="text-center mb-5">Expérience</h1>
                    <p class="text-center">Occitanie : Service d’hospitalisation pour adolescents, service
                        d’addictologie ; Service de pédopsychiatrie (CMP et CATTP). Mayotte : Centre d’Action
                        Médico-Sociale Précoce, Maison de Santé Mentale pour enfants et adolescents. Je travaille
                        actuellement en pédopsychiatrie dans le 13ème arrondissement à Paris.</p>
                </div>
            </div>
        </article>
    </section>

    <article class="container-fluid mb-4 p-5 mx-2">
        <div class="row">
            <p class="text-center">Le psychologue est soumis au Code de déontologie des psychologues et est inscrit sur
                la liste ADELI (répertoire des professionnels de santé de l’ARS du département d’exercice du
                psychologue).</p>
        </div>
    </article>
{% endblock %}

